  
  <div class="container ">
   
    <div class="row" style="margin-top: 20px;">
        <div *ngIf="!isClientItem">
          <addMedicine (messageEvent)="receiveMessage($event)"></addMedicine>
        </div>
       <div *ngIf="isClientItem" style="width:250px">
          <ngx-select-dropdown [ngModelOptions]="{standalone: true}"   (change)="selectionChanged($event)"
          [(ngModel)]="eoClientPK" [config]="{search:true,searchPlaceholder:'Search client name',displayKey:'clientName',placeholder:'Select Client Name' }"
          [options]="clientsArray">
          </ngx-select-dropdown>
       </div>
    </div>
    <div class="mainDiv">
      <div style="float: left;margin: 8px 8px 8px 8px;">
        <select class="custom-select"  style="height: 40px;" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
          <option [ngValue]="20">20 items per page</option>
        </select>
       </div>
       <div style="float: right; margin: 8px 8px 8px 8px;">
        <input class="form-control" style="width: 300px; height: 40px;" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by any name">
       </div>
    <div style="height: 500px;">
    <table class="table table-striped table-bordered no-margin tableBodyScroll">
      
        <colgroup >
       
          <col width="4%">
          <col width="10%">
          <col width="2%">
          <col width="6%">
          <col width="8%">
          <col width="2%">
          <col width="8%">
          <col width="6%">
          <col width="8%">
          <col width="7%">
          <col width="8%">
          <col width="5%">
          <col width="12%">
        </colgroup>
    
        <thead>
          <tr style="text-align: center;">
            
            <th>ID</th>
            <th>Medicine Name</th>
            <th>M.R.P</th>
            <th>Net Rate</th>
            <th>Exp. Date</th>
            <th>Discount</th>
            <th>Mfg. By</th>
            <th>On Hand</th>
            <th>Pur. Price</th>
            <th>Scheme</th>
            <th>Notes</th>
            <th>Is Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayOfData | filter:searchText">
          
           <td>{{item.itemID}}</td>
           <td class="choppOff">{{item.mediName}}</td>
           <td style="text-align: right;" ><b>{{item.mrp}} </b></td>
           <td style="text-align: right;" >{{item.netRate}}</td>
           <td style="text-align: center;">{{item.expDate | date:'dd-MM-yyy'}}</td>
           <td style="text-align: right;" >{{item.discount}}</td>
           <td class="choppOff">{{item.mfgBy}}</td>
           <td style="text-align: right;" >{{item.onHand}}</td>
           <td style="text-align: right;" >{{item.purchasePrice}}</td>
           <td >{{item.scheme}}</td>
           <td >{{item.notes}} no notes</td>
           <td>
            {{item.isActive?'Yes':'No'}}
            <!-- below was doing issue when pagination added -->
           <!-- <input type="checkbox" class="form-control chkBox" disabled id="isActive"  name="isActive" [ngModel]="item.isActive"> -->
           </td>
           <td>
                <!-- <a  (click)="actions(item.primaryKey,'edit')"  routerLink="/medi/editMedi/{{item.primaryKey}}">Edit</a> &nbsp; 
                <a  (click)="actions(item.primaryKey,'delete')" routerLink="/medi/delete/{{item.primaryKey}}">Delete</a> -->
                <button class="btn btn-primary btn-view" (click)="actions(item.primaryKey,'edit')" >Edit</button>
                <button class="btn btn-primary btn-view" (click)="actions(item.primaryKey,'delete')" >Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="noOfRecords">Showing {{pageSize}} of {{itemsArray.length}} records</div>
    <div class="paginate">
      <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
    </div> 
  </div>    
  </div> 