@import url(https://fonts.googleapis.com/css?family=Roboto:400);
/* overridden csss for header */
.bg-primary {
    background-color: #66809c !important;
}
.w-100 {
    width: 0% ;
}



/* 
for menu up and down

@media (min-width: 768px){
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        margin-top: 47px;
        flex-basis: auto;
    }
} */

/* end of overridden */

body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
	
.row {
    margin-right: -26px;
    margin-left: -15px;
    margin-top: 58px;
}
.headerMenuHeight{
    height: 38px;
}
.dropdown-toggle::after {
    display: inline-block;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

