/*

@media (min-width: 1920px){
.container {
    margin-left: -310px;
    margin-top: 10px;
    width: 1000px;
    position: relative;
}
}*/

/* 
//correct for 1920px
@media (min-width: 1200px){
.container {
   
    margin-left: 11px;
    margin-top: 10px;
} 

.billGen {
    background-color: #34e2d4;
    width: 450px;
    margin-left: 1050px;
    margin-top: -75px;
}
}
*/
.item{
    width: 57%;
    height: 400px;
    display: inline-block !important;
    vertical-align: top;
    margin: 10px 2px 2px 2px;
    /* overflow: scroll; */
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.item-head{
    width: 57%;
    height: 400px;
    display: inline-block !important;
    vertical-align: top;
    margin: 10px 2px 2px 2px;
}

.pay{
    width: 40%;
    height: 250px;
    display: inline-block !important;
    vertical-align: top;
    margin: 10px 2px 2px 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow: scroll; */
}

/* thead, tbody {
     display: block;
    
}
thead {
    width: calc( 90% - 1em )
}
tbody {
    height: 400px;       
    overflow-y: auto;   
    overflow-x: hidden;  
} */
.btm-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #b7bbd2;
    border-color: #9dacbb;
    height: 30px;
}

.table th, .table td {
    padding: 0.3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


.total {
    width: 39%;
    /* height: 400px; */
    display: inline-block !important;
    vertical-align: top;
    margin: 1px 2px 2px 1100px;
}


/* upper div */

.actions{
    margin: 5px;
    border-width: 2px;
    background-color: #c4cbd6;
    height: 85px;
    border-radius: 12px;
    position: relative;
  }
  .btnActions{
    top: 24px;
    margin-left: 975px;
    position: absolute;
    
  }

  .billGen {
    background-color: #34e2d4;
    width: 450px;
    margin-left: 750px;
    margin-top: -75px;
}

.genBtn{
    height: 26px;
    margin: 0px 0px -15px 10px;
    padding: 1px 5px 0px 7px;
}