<div class="grid grid-pad" *ngIf="todayData">
  <a class="col-1-4" routerLink="/detail/">
    <div class="module" >
      <h3>Date:</h3><span class="cash"> {{ todayDate| date :'fullDate' }}</span>
    
      <h3> Total Sales:</h3> Rs &nbsp;<span class="cash">{{todayData.ttAmount | number:'1.2-2'}}</span>
    
    </div>
  </a>

  <a class="col-1-4" routerLink="/detail/">
    <div class="module">
      <h4 style="color:rgb(110, 236, 99)">Today's Cash & Sales </h4>
      <table style="width: 369px;">
        <tr>
         <td class="todayPrev">Qunt: </td><td style="margin-left:5px ;font-weight: bold">{{todayTotalQnty}}</td> <td style="margin-left:6px" class="todayPrev">Cash: </td><td style="margin-left:5px;font-weight: bold">Rs&nbsp;{{todayTotalAmt}} </td>
        </tr>   
      </table>
      <hr>
      <h4 style="color: darkorange">Previous Day Cash & Sales </h4>
      <table  style="width: 369px;">
        <tr> 
        <td class="todayPrev">Qunt: </td><td style="margin-left:5px ;font-weight: bold">{{prevTotalQnty}}</td> <td style="margin-left:6px" class="todayPrev">Cash: </td><td style="margin-left:5px ;font-weight: bold" >Rs&nbsp;{{prevTotalAmt}} </td>
        </tr> 
      </table>
    </div>
  </a>

  <a class="col-1-4" routerLink="/detail/">
    <div class="module hero">
      <h4>No Data To Display</h4>
    </div>
  </a>
</div>


<br>
<div class="pay">
  <table id="tbl" class="table table-striped table-bordered no-margin">

    <colgroup>
      <col width="1%">
      <col width="15%">
      <col width="5%">
      <col width="15%">
  
    </colgroup>
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Item Name</th>
        <th>Qnty</th>
        <th>Total Amount</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itemSold of itemToBeSoldArray; let i=index" >
        <td>{{i+1}}</td>
        <td  class="choppOff" title="{{itemSold.itemName}}">{{itemSold.itemName}}</td>
        <td style="text-align: right;">{{itemSold.itemSoldCount}}</td>
        <td style="text-align: right;">{{itemSold.ttAmount  | number:'1.2-2'}}</td>
        <!-- <td>
          <button style="height:1.5rem;    padding: 0.1rem;" class="btn btn-info" (click)="delete(itemSold)">Del</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-sm-6">
<div class="panel b-a" style="height:270px;">
          <div class="row m-n">
            <div class="col-md-6 b-b b-r">
              <a href="#" class="block padder-v hover">
                <span class="i-s i-s-2x pull-left m-r-sm">
                  <i class="i i-hexagon2 i-s-base text-danger hover-rotate"></i>
                  <i class="fa fa-user text-white"></i>
                </span>
                <span class="clear">
                  </span></a><a href="#" class="auto">
                  <span id="cust" class="h3 block m-t-xs text-danger">522</span>
                  <small class="text-muted text-u-c">Customers</small>
                
              </a>
            </div>
            <div class="col-md-6 b-b">
              <a href="#" class="block padder-v hover">
                <span class="i-s i-s-2x pull-left m-r-sm">
                  <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                  <i class="fa fa-user-md text-white"></i>
                </span>
                <span class="clear">
                  </span></a><a href="#" class="auto">
                  <span id="prof" class="h3 block m-t-xs text-success">177</span>
                  <small class="text-muted text-u-c">Total Medical Professionals</small>
                
              </a>
            </div>
            <div class="col-md-6 b-b b-r">
              <a href="#" class="block padder-v hover">
                <span class="i-s i-s-2x pull-left m-r-sm">
                  <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                  <i class="fa fa-truck text-white"></i>
                </span>
                <span class="clear">
                  </span></a><a href="#" class="auto">
                  <span id="tobe" class="h3 block m-t-xs text-info">10</span>
                  <small class="text-muted text-u-c">To be shipped</small>
                
              </a>
            </div>
            <div class="col-md-6 b-b">
              <a href="#" class="block padder-v hover">
                <span class="i-s i-s-2x pull-left m-r-sm">
                  <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                  <i class="fa fa-truck text-white"></i>
                </span>
                <span class="clear">
                  </span></a>
                  <a href="#" class="auto">
                  <span id="shipped" class="h3 block m-t-xs text-primary">84</span>
                  <small class="text-muted text-u-c">Shipped</small>
                
              </a>
            </div>
            
          </div>
          
        </div>
        
      </div>
      
           <div class="col-sm-6">
    
     <div class="panel b-a scrollable padder" style="max-height:270px;">
      <div class="row m-n">
         <div id="todaysP"><div class="panel-heading b-b">

<strong>You have 0 new Prescription(s)</strong>
</div></div>         	
     </div>
   </div>
   
    </div>
    
    
</div>